footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 12px;
}

.socials {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}

.socials a {
  font-size: 30px;
  color: black;
}

footer p {
  font-size: 12px;
  text-align: center;
  width: 90%;
}